	body {
		background: #2a0035;
		text-align: center;
	}
	h1 {
		font-family: "Helvetica", Times, sans-serif;
		text-align: center;
		font-size: 40px;
		font-weight: 700;
		color: #727272;
		text-shadow: 3px 3px black;
	}
	h2 {
		font-family: "Times", Times, sans-serif;
		text-align: center;
		font-size: 26px;
		font-weight: lighter;
		color: #727272;
		text-shadow: 2px 2px black;
	}
	a {
		color: #727272;
		text-decoration: none;
		display: block;
	}
	img {
		margin-bottom: 20px;
		display: block;
        margin-left: auto;
    	margin-right: auto;
    	border: 5px solid black;
	}